body{
	margin: 1px;
	font-size: 25px;
}
.main{

	background-color: green;
	text-align:  center;
	font-size: 20px;
	color: white;
	margin: : 10px;
	
	padding: 21px;
}
.maintext{
	background-color: #a6a0a0;
	text-align: center;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 20px;
}
.foot{
	background-color: green;
	text-align: center;
	margin: 0px;
	padding: 22px;

}